.h-center
{
    margin : 3em auto;
    width : min(37em, 95%);
}
.h-center-l
{
    margin : 3em auto;
    width : min(50em, 95%);
}

.post-body
{
    margin : 3em auto;
    width : min(50em, 95%);
}
.rectangle
{
    display : inline-block;
    width : min(10em, 31%);
    height : 4em;
    background-color : #272727;
    text-align : center;
    margin : 0 min(1em, 1%);
    border : solid;
    border-width : .2em;
    border-color : grey;
}
.white
{
    color : white;
}
.spaced-h
{
    margin : 0 min(1%, 1em)
}
.spaced-v
{
    margin : 1em 0;
}
.spaced
{
    margin : 1em 1em;
}
li
{
    font-family:georgia,garamond,serif;
    color : #42425A;
    font-size : 1.1em;
    line-height : 1.5em;
    letter-spacing: .02em;
}
p
{
    font-family:georgia,garamond,serif;
    color : #42425A;
    font-size : 1.1em;
    line-height : 1.5em;
    letter-spacing: .02em;
}
h2 
{
    font-family:georgia,garamond,serif;
    color : #1c1c24;
}
iframe
{
    margin : 0 auto;
    display : block;
    border-style : none;
}
.title
{
    font-size : 5em;
    font-family : Verdana,sans-serif;
}
.header
{
    font-family : sans-serif;
    color : #666666;
    font-size : .99em;
}
.none-link
{
    text-decoration: none;
    font-weight : bold;
}
a:link
{
    text-decoration: none;
}
a:visited
{
    color : inherit;
    text-decoration: none;
}
a:hover
{
    color : #A8A8A8;
    text-decoration: none;
}
a:active
{
   text-decoration: none;
}
.social
{
    width : min(3.5em, 100%/6);
    height : min(3.5em, 100%/6);
    margin : 0 min(2%, 1em);
}
hr
{
    height : .01em;
    color : #FFFFFF
}
.game-wrapper
{
    margin : 3em auto;
    width : min(75em, 95%);
}
.game-desc
{
    display : flex;
}
.img-desc-left
{
    width:min(35em, 100%);
    height:min(20em, 100%);
}
.img-desc-right
{
    width:min(35em, 100%);
    height:min(20em, 100%);
}
.txt-desc-wrapper
{
    vertical-align:top;
    justify-content :left;
    margin:0 1em;
    width:min(35em, 100%)
}
.txt-desc
{
    vertical-align:top;
    justify-content :left;
    margin:0 1em;
    width:min(35em, 100%)
}

.debug-draw
{
    border:1px solid black;
}
.content
{
    width : 100%;
    height : 100%;
}
.auto-resizable-iframe {
    max-width: 768px;
    margin: 0px auto;
  }
  
  .auto-resizable-iframe > div {
    position: relative;
    padding-bottom: 57%;
    height: 0px;
  }
  
  .auto-resizable-iframe iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }
.full-size
{
    margin: 0 auto;
    display:block;
    text-align: center;
    width: min( 75em, 95%)
}